 /*** pop-up div to cover entire area ***/
	    .divModalDialog  {
	        position:fixed;
		    top:0;
		    left:0;
		    width:100%;
		    height:100%;
		    /*! important !*/
		    display:none;
		    /* last attribute set darkness on scale: 0...1.0 */
		    background-color:black;
		    text-align:center;
		    z-index:101;
	    }

	    /*** ! target attribute does the job ! ***/
	    .divModalDialog:target  { display:block; }

        /*** virtual frame containing controls, image and caption ***/
	    .divModalDialog div  {
	       /* either absolute or fixed */
		    position:fixed;
		    top:5%;
		    width:100%;
		    height:80%;
            /* rounded corners */
	        -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            z-index:102;
	    }

        /*** header used as main image caption  ***/
        .divModalDialog div h1  {
            width:100%;
            font-size:2em;
            color:#dadada;
            z-index:103;
            /* add shadows to text */
            -moz-text-shadow: 10px 3px 4px 6px rgba(0,0,0,0.9);
            -webkit-text-shadow: 3px 4px 6px rgba(0,0,0,0.9);
            text-shadow: 10px 4px 6px rgba(0,0,0,0.9);
        }

        /*** main image style ***/
        .divModalDialog img {
            padding:20px;
            z-index:105;
            border: solid 1px gray;
            /* rounded corners */
        	-moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: -moz-linear-gradient(top, #dadada,
                                                    #505050 5%,
                                                    #bababa 50%,
                                                    #303030 50%,
                                                    #101010);
            background: -webkit-gradient(linear, center top, center bottom,
                                                    from(#dadada),
                                                    color-stop(0.05, #505050),
                                                    color-stop(0.5, #bababa),
                                                    color-stop(0.5, #303030),
                                                    to(#101010));
        }

        /*** navigation controls style: highest z-index ! ***/
	    .divModalDialog ul a  {
		    padding:5px;
		    font-size:3em;
		    font-weight:bold;
		    color:Yellow;
		    text-decoration:none;
		    border: solid 1px Gray;
		    /* rounded corners */
		    -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            z-index:110;
	    }

