

div#contatos{
	width:200px;
	border-right:1px solid #333;
	background:#ebebeb;
	position:absolute;
	left:0;
	top:0;
	height:100%;
	overflow-y:auto;
	overflow-x:hidden;
}
div#contatos ul{
	list-style-type:none;
	margin:0;
	width:100%;
}
div#contatos ul li{
	float:left;
	display:block;
	width:100%;
	margin-bottom:1px;
}
div#contatos ul li a{
	text-decoration:none;
	display:block;
	padding:3px;
	font:15px "Trebuchet MS", arial, helvetica;
	color:#333;
}
div#contatos ul li a:hover{background:#ccc;}

div#janelas{
	position:fixed;
	bottom:0;
	right:0;
	width:auto;
}

div#janelas div.janela{
	width:230px;
	background:#069;
	margin-right:5px;
	float:right;
	margin-bottom:0;
	border-left:1px solid #333;
	border-right:1px solid #333;
}
div.janela div.topo{
	float:left;
	width:230px;
	background:#036;
	height:25px;
	border-bottom:1px  solid #333;
	cursor:pointer;
}
div.topo.fixar{position:absolute; bottom:0;}
div.topo span{float:left; font:14px tahoma, arial, helvetica; color:#fff; margin:4px;}
div.janela div.topo a#fechar{float:left; padding:2px 6px; height:21px; font:15px tahoma, arial; color:#fff; float:right; 
text-decoration:none;}
div.janela div.topo a#fechar:hover{background:#000;}
div.janela input[type=text]{
	padding:3px; border:0;
	outline:none;
	background:#f4f4f4;
	font:13px arial, tahoma;
	color:#333;
	width:224px;
}
div.mensagens{
	float:left;
	width:230px;
	background:#fff;
	height:200px;
	border-bottom:1px solid #333;
}
div.mensagens ul.listar{
	list-style-type:none;
	float:left;
	width:190px;
	background:#fff;
	height:184px;
	overflow-y:auto;
	overflow-x:hidden;
}
div.mensagens ul.listar li{
	float:left;
	width:100%;
	border-bottom:1px dotted #333;
	padding-bottom:3px;
	margin: 0px 0px 0px -30px
}
div.mensagens ul.listar li span{
	font:13px tahoma, arial, helvetica;
	color:#333;
	float:left;
	width:100%;
	margin:0px;
}
div.mensagens ul.listar li p{
	font:13px tahoma, arial, helvetica;
	color:#333;
	float:left;
	width:100%;
	margin:3px 0 0 3px;
}