/* 
Desenvolvido por Mister W Informática 
Wesley Martins Alves da Costa
wesley@misterwinformatica.com.br
www.misterwinformatica.com.br
Site: www.pafalianca.com.br
*/

body{font-family: Arial;
	/*background-color:#333333;*/
	font-size: 16px;
}
#geral{background: url(../../imagens/topo.png)repeat-x;margin-top: -10px;}
#centro{margin-left: auto;margin-right: auto;width:800px;height:auto;}

#topo{width: 100%; height: 80px;}
#logo{width: 20%;height: 80px;float: left;}
.logo{margin: 10px 0 0 0;}
#titulo_principal{width: 80%; height: 80px;float: left;}
.titulo_principal{font-size: 26px;color: #077CC4;margin: 13px 0 0 0px;font-weight: bold;}

#menu{width: 20%;height: auto;float: left;}
#banner_institucional{width: 75%;height: 300px;float: left;border-radius: 1em;margin: 0 0 0 3%;-moz-border-radius: 20px;-webkit-border-radius: 20px;border-radius: 20px;background-color: #077CC4;margin: 15px 0 0 2%;padding: 10px 20px 0 20px; text-align: center;color:#FFFFFF;line-height: 50%;}
	.btn-institucional a{color:#FFFFFF;text-decoration: none; font-weight: bold;margin:0 0 0 -50px;}
	.btn-institucional :hover{color: #99C9E7;margin:0 0 0 -50px;}
#conteudo_curso{width: 72%;height: auto;float: left;border-radius: 1em;margin: 0 0 0 3%;-moz-border-radius: 20px;-webkit-border-radius: 20px;border-radius: 20px;background-color: #F2F2F2;border-color: #9A9A9A;border-width: thin; border-style: solid;margin: 15px 0 0 2%;padding: 10px 20px 0 20px; text-align: justify;}

#conteudo{width: 100%;height: auto;}

h3{color: #077CC4;}
h4{color: #000000;}

#rodape{height: 150px;width: 100%;background: url(../../imagens/fundo_rodape.png) repeat-x; float: left;margin: 30px 0 0 0;}
	#rodape_esquerda{height: 150px;width: 27%;float: left;padding: 1% 0 0 15%;}
	#rodape_central{height: 150px;width: 20%;float: left;padding: 1% 0 0 0;}
	#rodape_direita{height: 150px;width: 20%;float: left;padding: 1% 0 0 7%;}

#progressbar_box{width: 50%;margin: -20px 0 0 0;}
#progressbar100{background-color: #ffffff;border-width: medium; border-style: solid; border-color: #077CC4;-moz-border-radius: 100px;-webkit-border-radius: 100px;border-radius: 100px; color: #FFFFFF;height: 5px;}
#progressbar{background-color: #1A1412;-moz-border-radius: 100px;-webkit-border-radius: 100px;border-radius: 100px;height: 5px;}

/*ul*/
ul{list-style-image: url(../../imagens/icone/rodape_li.png);}

.btn{background: url(../../imagens/icone/botao_adm.png) no-repeat;height: 28px;}
.btn a {color: white; padding: 0 0 0 40px; font-weight: bold;text-decoration: none;}
.btn :hover {color: #99C9E7;}

.imagem_logoff{margin: -38px 0 0 38em;}

.aqui{margin: 0;}

.texto_curso a {color:#333333;text-decoration: none;font-weight: bold;}